$color-main-1: #e2c5ff;
$color-main-2: #ffc6e3;
$color-dark: #a347ff;
$color-light: #ffffff;
$color-light-1: #f4eaff;
$color-gray: #666;

$primary: $color-dark;

@import "vendor/bootstrap";

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico-Regular.ttf') format('ttf'),
  url('../fonts/Pacifico-Regular.woff') format('woff'),
  url('../fonts/Pacifico-Regular.woff2') format('woff2');
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-main-1, 0.6), rgba($color-main-1, 0.6)),
  url("../img/bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar.navbar-expand-lg.navbar-dark {
  background: $color-main-1;

  .navbar-brand {
    color: $color-light;
    font-family: 'Pacifico', sans-serif;
    font-size: 2.8rem;
    display: flex;
    align-items: center;

    & img {
      width: 3.5rem;
      margin-left: 1rem;
    }
  }

  ul a {
    color: $color-light-1;
    font-size: 1.6rem;

    &:hover {
      color: $color-dark;
    }

    &.active {
      color: $color-dark;
    }
  }
}

.form-control {
  font-size: 1.6rem;
}

.card {
  background: $color-light-1;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: $color-gray;
  display: flex;
  justify-content: center;

  &-body {
    .nav {
      button {
        font-size: 1.3rem;
      }
    }
  }

  .btn.btn-link {
    font-size: 1.6rem;
  }

  li {
    margin-right: 1.5rem;
  }

  &-body {
    justify-content: center;

    button {
      font-size: 1.6rem;
    }
  }

  &:first-child {
    margin-top: 1.2rem;
  }

  .form-date {
    display: flex;
    align-items: end;
  }

  .form-group.date-picker {
    & + button {
      font-size: 1.6rem;
      padding: .4rem 3rem;
      text-transform: uppercase;
      color: white !important;
    }
  }

  form.form-add-food {
    width: 75rem;
  }

  & input {
    font-size: 1.6rem;

    &[type=date] {
      width: 30rem;
      color: $color-gray;
      margin-right: 1.6rem;
    }
  }
}



